.DS_Store
public/*

/lang/vendor/core/
/lang/vendor/packages/
/lang/vendor/plugins/
/lang/*.json
storage/cache_keys.json
cache_keys.json
storage/app/*
storage/framework/*
storage/logs/*
storage/debugbar/*
bootstrap/cache/*
vendor/*
platform/plugins/*
!platform/plugins/themes/*
!public/.htaccess
!public/index.php
!public/web.config
!public/favicon.ico

.env
